#body {
    font-family: sans-serif;
    user-select: none;
}

#body.normal {
    background: radial-gradient(circle, #FFEEEE, #EEBBEE);
}

#body.capycap {
    background: radial-gradient(circle, #FFDDDD, #77BBFF);
}

#big-container {
    display: flex;
    justify-content: space-between;
}

#capy-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#capy-clicks-indicator {
    font-size: 90px;
    font-weight: bold;
    margin: 0;
    margin-top: 50px;
}

#capybara {
    width: 700px;
    margin-top: 14vh;
    transition: transform 0.1s ease-in-out;
    user-select: none;
}

#capybara.shrink {
    transform: scale(0.9);
}

#cps-indicator {
    font-size: 30px;
    font-variant-numeric: tabular-nums;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    min-width: 120px;
    white-space: nowrap;
}

#shop-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(160deg, #8E7CC3, #6C5B9E);
    border: rgba(28, 22, 48, 0.5) solid 2px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    padding: 15px 15px;
    margin-right: 10px;
    margin-top: 10px;
    user-select: none;
}

#shop-title {
    font-size: 50px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    color: #241F3D;
}

.shop-item {
    width: 400px;
    border: #3E3760 2px solid;
    background: linear-gradient(135deg, #C9BFE6, #A79CCE);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 7px;
    gap: 15px;
    transition: filter 0.1s ease-out, transform 0.1s ease-out;
}

.shop-item:hover {
    cursor: pointer;
    background: #9C91C6;
}

.shop-item.flash {
    filter: brightness(2);
    transform: scale(1.05);
}

.shop-item img {
    width: 60px;
    object-fit: cover;
}

.shop-item .shop-desc {
    font-size: 30px;
    margin: 0;
    margin-bottom: -10px;
    color: #221E3A;
}

.shop-item .shop-price {
    font-size: 50px;
    color: #221E3A;
    margin-top: 0;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: -10px;
}

#click-power-indicator {
    margin: 0;
    margin-top: -10px;
    font-size: 15px;
}

#autoclick-indicator {
    margin: 0;
    margin-top: 3px;
    font-size: 15px;
}

.debug {
    background-color: #FF5555;
    color: black;
    padding: 5px 10px;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.shop-cover {
    font-size: 50px;
}

.locked .shop-desc {
    display: none;
}

.locked .shop-price {
    display: none;
}

#shop-item-mrclicker {
    flex-direction: column;
    align-items: center;
}

.locked,
.locked:hover {
    background: #54506B;
}

.shop-cover {
    margin: 0;
    margin-bottom: -25px;
}

.shop-cover-desc {
    margin: 0;
    font-size: 20px;
}

.shop-cover-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.click-pop {
    position: fixed;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    opacity: 1;
    transition:
        opacity 0.7s ease-out,
        transform 0.7s ease-out;
}

.capycap-skin-pop {
    position: fixed;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    /*color: #fcc;*/
    color: #000;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    opacity: 1;
    transition:
        opacity 0.7s ease-out,
        transform 0.7s ease-out;
}

#shop-item-capycap img {
    margin: 12px;
    margin-right: 0;
}
