body {
    font-family: sans-serif;
    background: radial-gradient(circle, #FFDDDD, #77BBFF);
}

#big-container {
    display: flex;
    justify-content: space-between;
}

#capy-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#capy-clicks-indicator {
    font-size: 90px;
    font-weight: bold;
    margin: 0;
    margin-top: 50px;
}

#capybara {
    width: 700px;
    margin-top: 14vh;
    transition: transform 0.1s ease-in-out;
}

#capybara.shrink {
    transform: scale(0.9);
}

#cps-indicator {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
}

#shop-container {
    display: flex;
    flex-direction: column;
    background-color: #AA99BB;
    border: black solid 2px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    padding: 15px 15px;
    margin-right: 10px;
    margin-top: 10px;
}

#shop-title {
    font-size: 50px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.shop-item {
    width: 400px;
    background-color: #AACCBB;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 7px;
    gap: 15px;
}

.shop-item img {
    width: 60px;
    object-fit: cover;
}

.shop-item p {
    font-size: 30px;
    margin: 0;
}

.shop-item:hover {
    cursor: pointer;
}
